<app-header></app-header>
<div id="help-support" class="content-page">
  <div class="container">
    <div class="cs-banner">
      <div class="cs-banner-inner">
        <h1>Help & Support</h1>
      </div>
    </div>
    <div class="profile-card">
      <div class="profile-bd">
        <div ngbAccordion [closeOthers]="true">
          <div ngbAccordionItem *ngFor="let faq of accordionItems" [collapsed]="false">
            <h2 ngbAccordionHeader>
              <button ngbAccordionButton>
                {{ faq.title }}
                <span class="plus-icon">
                  <img class="plus" [src]="images.PLUS" alt="">
                  <img class="minus"  [src]="images.MINUS" alt="">
                </span>
              </button>
            </h2>
            <div ngbAccordionCollapse>
              <div ngbAccordionBody>
                <ng-template>
                  {{faq.content}}
                </ng-template>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>