<app-header (selectedCityChange)="onCityChange($event)"></app-header>

<div class="home-wrapper">
  <div class="banner">
    <div class="banner-serach">
      <div class="banner-intro">
        <div class="container">
          <h2 class="head">Online Hotels Booking - Reserve Your Ideal Holiday</h2>
          <p>Book Your Stay, Your Way: Where Every Journey Begins!</p>
        </div>
      </div>
      <div>
        <app-hotel-search></app-hotel-search>
      </div>
    </div>
    <div class="offers-section" [ngClass]="{ 'p-relative': offers.length > 2 }">
      <div class="container">
        <div class="section-title">
          <h2>Offers</h2>
        </div>
      </div>
      <div class="container-fluid g-0">
        <p-carousel [value]="offers" styleClass="offers-sub" [numVisible]="3.2" [numScroll]="1" [circular]="true"
          [responsiveOptions]="offers_responsive">
          <ng-template let-offer pTemplate="item">
            <div class="offer-card">
              <div class="offer-img">
                <img loading="lazy" class="img-cover" [src]="offer.image" alt="">
              </div>
              <div class="offer-content">
                <span class="tag">T&C Applied</span>
                <h3 (click)="gotoNext('offers')">{{offer.title}}</h3>
                <p>{{offer.content}}</p>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>

  <div class="cities-section section whitebg">
    <div class="p-relative" >
      <div class="container">
        <div class="section-title">
          <h2>Explore By Cities</h2>
        </div>
      </div>
      <div class="container-fluid g-0">
        <p-carousel [value]="top_cities" styleClass="cities-sub" [numVisible]="5" [numScroll]="1" [circular]="true"
          [responsiveOptions]="city_responsive">
          <ng-template let-top_city pTemplate="item">
            <div class="city-card" (click)="onCityChange(top_city.cityName)">
              <div class="city-img">
                <img loading="lazy" class="img-cover" [src]="top_city.imageUrl" alt="">
              </div>
              <div class="city-content">
                <h3>{{top_city.cityName}}</h3>
                <span>{{top_city.count}}+ Hotels</span>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>

  <div class="properties-section section">
    <div class="p-relative">
      <div class="container">
        <div class="section-title">
          <h2>Top Rated Properties</h2>
        </div>
      </div>
      <div class="container-fluid g-0">
        <p-carousel [value]="top_Rated_Properties" styleClass="properties-sub" [numVisible]="3.6" [numScroll]="1"
          [circular]="false" [responsiveOptions]="top_Properties_responsive">
          <ng-template let-top_property pTemplate="item">
            <div class="property-card">
              <div class="property-strip">
                <div class="discount">
                  <img loading="lazy" [src]="image.DISCOUNT" alt="">
                  {{top_property.discount}}% off
                </div>
                <div class="favorite"
                  [ngStyle]="{'background-color': top_property?.inWishlist ? '#C42A25' : '', 'pointer-events': top_property?.isLoading ? 'none' : '' }"
                  (click)="postHotelData(top_property)">
                  <img loading="lazy"
                    [src]="top_property?.inWishlist ? 'assets/imgs/favorite-white.svg' : 'assets/imgs/favorite.svg'"
                    alt="">
                </div>
              </div>
              <div class="property-img" (click)="booking(top_property.id, top_property.hotelName)">
                <img loading="lazy" class="img-cover" [src]="top_property.images[0]" alt="">
              </div>
              <div class="property-content">
                <div class="content-head">
                  <h3 (click)="booking(top_property.id, top_property.hotelName)">{{top_property.hotelName}}</h3>
                  <span class="rating">
                    <img loading="lazy" [src]="image.STAR" alt="">
                    <!-- {{top_property.rating}} -->3
                  </span>
                </div>
                <p class="property-desc" (click)="booking(top_property.id, top_property.hotelName)">Get upto 50% off on
                  Hotel bookings. Let’s enjoy your vacation</p>
                <div class="content-foot" (click)="booking(top_property.id, top_property.hotelName)">
                  <div class="prices">
                    <div class="price-old">
                      ₹<span>{{getCeilPrice(top_property.price)}}</span><small>/Night</small>
                    </div>
                    <div class="price-new">
                      ₹<span>{{top_property.newPrice}}<small>/Night</small></span>
                    </div>
                  </div>
                  <button class="booknow-btn" (click)="booking(top_property.id, top_property.hotelName)">Book
                    Now</button>
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>

  <div class="about-section whitebg " *ngIf="isMobileView">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="section-title">
            <span>About Us</span>
            <h2>Discover Unforgettable Stays with WELRM</h2>
          </div>
          <p class="about-desc">At WELRM, we connect travelers with exceptional stays. Discover top-rated hotels and
            unique properties, ensuring seamless booking and unparalleled service. Create unforgettable memories and
            explore new destinations with exclusive deals tailored to your travel needs.</p>
          <div class="about-info">
            <div class="info-item">
              <span>5000+</span>
              <label>Hotel Partners</label>
            </div>
            <div class="info-item">
              <span>150+</span>
              <label>Unique Destinations</label>
            </div>
            <div class="info-item">
              <span>100k+</span>
              <label>Satisfied Guests</label>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about-images">
            <div class="main-img">
              <img loading="lazy" class="img-cover" [src]="image.ABOUTUS1" alt="">
            </div>
            <div class="top-img">
              <img loading="lazy" class="img-cover" [ngbNavItem]="image.ABOUTUS2" alt="">
            </div>
            <div class="bottom-img">
              <img loading="lazy" class="img-cover" [src]="image.ABOUTUS3" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ourvideo-section section" *ngIf="isMobileView">
    <div class="container">
      <div class="section-title">
        <span>Our Videos</span>
        <h2>Explore WELRM Insights</h2>
        <p class="paragraph">Dive into our videos for expert tips on booking top hotels, listing your property
          seamlessly, and uncovering the finest stays across India with WELRM.</p>
      </div>
      <div class="row">
        <div class="col-lg-7">
          <div class="full-video">
            <iframe [src]="ourVideos.mainView" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-lg-5 d-flex flex-lg-column justify-content-between mt-lg-0 mt-4">
          <div class="half-video">
            <iframe [src]="ourVideos.columnView1" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <div class="play-overlay" (click)="onChangeVideo('columnView1')"></div>
          </div>
          <div class="half-video">
            <iframe [src]="ourVideos.columnView2" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <div class="play-overlay" (click)="onChangeVideo('columnView2')"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mission-section section whitebg " *ngIf="isMobileView">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="section-title">
            <span>Our Top Mission</span>
            <h2>Our Mission</h2>
          </div>
          <div class="btn-holder">
            <button class="info-btn custom-btn cursor-default" (click)="scrollTop()"><img loading="lazy"
                [src]="image.HOUSE" alt="HOUSE"> Luxurious Stay</button>
            <button class="info-btn custom-btn cursor-default" (click)="scrollTop()"><img loading="lazy"
                [src]="image.HEART" alt=""> Guest-Centric Care</button>
          </div>
          <p class="paragraph">Our mission is to redefine hospitality by offering unparalleled comfort and personalized
            service.</p>
          <h5>Luxurious Stay</h5>
          <ul class="mb-0 p-0">
            <li class="paragraph"><b>Redefine Hospitality:</b> WELRM is committed to setting new standards in the
              hospitality industry, prioritizing guest satisfaction and an exceptional overall experience.</li>
          </ul>
          <h5>Guest-Centric Care</h5>
          <ul class="mb-0 p-0">
            <li class="paragraph"><b>Unparalleled Comfort:</b> Our mission is to provide a level of comfort that exceeds
              expectations, with high-quality bedding, well-appointed rooms, modern amenities, and meticulous attention
              to detail.</li>
            <li class="paragraph"><b>Personalized Service:</b> We are dedicated to understanding and meeting each
              guest's individual needs and preferences, ensuring a truly personalized and relaxing stay.</li>
          </ul>
        </div>
        <div class="col-lg-6">
          <div class="mission-images">
            <div class="image-column">
              <div class="top-img">
                <img loading="lazy" class="img-cover" [src]="image.MISSION1" alt="">
              </div>
              <div class="bottom-img">
                <img loading="lazy" class="img-cover" [src]="image.MISSION2" alt="">
              </div>
            </div>
            <div class="image-column">
              <div class="half-img">
                <img loading="lazy" class="img-cover" [src]="image.MISSION3" alt="">
              </div>
              <div class="half-img">
                <img loading="lazy" class="img-cover" [src]="image.MISSION4" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="exclusive-section section" *ngIf="isMobileView">
    <div class="container">
      <div class="inner-exclusive">
        <div class="left">
          <div class="countdown">
            <div class="countdown-box">
              <span>days</span>
              <b>{{ days }}</b>
            </div>
            <div class="countdown-box">
              <span>Hour</span>
              <b>{{ hours }}</b>
            </div>
            <div class="countdown-box">
              <span>Min</span>
              <b>{{ minutes }}</b>
            </div>
            <div class="countdown-box">
              <span>Sec</span>
              <b>{{ seconds }}</b>
            </div>
          </div>
          <div class="section-title">
            <span>Offer Valid Until : {{ lastDate | date:'dd-MMM-yyyy' }}</span>
            <h2>Escape to Luxury</h2>
            <p class="paragraph">Exclusive Hotel Booking Offers Indulge in Unmatched Elegance with Our Limited-Time
              Offers!</p>
          </div>
          <div class="d-flex">
            <div class="barcode">
              <img loading="lazy" [src]="image.BANNER_QR" alt="ban">
            </div>
            <div class="scan-here">
              <button class="white-btn">Scan Code Here</button>
              <img loading="lazy" [src]="image.ARROW" alt="">
            </div>
          </div>
        </div>
        <div class="right">
          <div class="offer-group">
            <div class="offer-box">
              <span>Terms And condition Apply</span>
              <h3>Get 10-20% Off on First Booking</h3>
              <button class="custom-btn small"><a href="/offers">Avail Now</a></button>
              <div class="offer-avatar">
                <img loading="lazy" [src]="image.OFFER_AVATAR1" alt="">
              </div>
            </div>
            <div class="offer-box">
              <span>Terms And condition Apply</span>
              <h3>Get 10-20% Off on Second Booking</h3>
              <button class="custom-btn small"><a href="/offers">Avail Now</a></button>
              <div class="offer-avatar">
                <img loading="lazy" [src]="image.OFFER_AVATAR2" alt="">
              </div>
            </div>
            <div class="offer-box">
              <span>Terms And condition Apply</span>
              <h3>Get 10-20% Off on Third Booking</h3>
              <button class="custom-btn small"><a href="/offers">Avail Now</a></button>
              <div class="offer-avatar">
                <img loading="lazy" [src]="image.OFFER_AVATAR3" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="destination-section section" *ngIf="isMobileView">
    <div class="container">
      <div class="section-title">
        <span>Popular Destinations</span>
        <h2>Let’s Explore Your Dream Destination Here!</h2>
        <p class="paragraph">We have Recommended Popular destinations every week so you don't have to worry about your
          destination dreams.</p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6" *ngFor="let destination of top_destinations">
          <div class="destination-card">
            <div class="destination-img" (click)="onCityChange(destination.address)">
              <img loading="lazy" class="img-cover" [src]="destination.image_url" alt="">
            </div>
            <div class="destination-strip">
              <div class="rating">
                <img loading="lazy" [src]="image.STAR" alt="">
                {{destination.rating}}
              </div>
              <div class="favorite"
                [ngStyle]="{'background-color': destination?.inWishlist ? '#C42A25' : '', 'pointer-events': destination?.isLoading ? 'none' : '' }"
                (click)="postHotelData(destination)">
                <img loading="lazy"
                  [src]="destination?.inWishlist ? 'assets/imgs/favorite-white.svg' : 'assets/imgs/favorite.svg'"
                  alt="">
              </div>
            </div>
            <div class="destination-content" (click)="onCityChange(destination.address)">
              <div class="left">
                <h3>{{destination.name}}</h3>
                <span class="address">
                  <img loading="lazy" [src]="image.LOCATION_PIN" alt="">
                  {{destination.address}}
                </span>
              </div>
              <button class="custom-btn small" (click)="onCityChange(destination.address)">Book Now <img loading="lazy"
                  [src]="image.RIGHT_ARROW" alt=""></button>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="btn-holder">
        <button class="custom-btn small">View More</button>
      </div> -->
    </div>
  </div>

  <div class="destination-section dest-res section" *ngIf="!isMobileView">
    <div class="container">
      <div class="section-title">
        <span>Popular Destinations</span>
        <h2>Let’s Explore Your Dream Destination Here!</h2>
        <p class="paragraph">We have Recommended Popular destinations every week so you don't have to worry about your
          destination dreams.</p>
      </div>
    </div>
    <div class="p-relative">
      <div class="container-fluid g-0">
        <p-carousel [value]="top_destinations" styleClass="destination-sub" [numVisible]="1.2" [numScroll]="1"
          [circular]="false">
          <ng-template let-destination pTemplate="item">
            <div class="destination-card">
              <div class="destination-img">
                <img loading="lazy" class="img-cover" [src]="destination.image_url" alt="">
              </div>
              <div class="destination-strip">
                <div class="rating">
                  <img loading="lazy" [src]="image.STAR" alt="">
                  {{destination.rating}}
                </div>
                <div class="favorite"
                  [ngStyle]="{'background-color': top_destinations?.inWishlist ? '#C42A25' : '', 'pointer-events': top_destinations?.isLoading ? 'none' : '' }"
                  (click)="postHotelData(top_destinations)">
                  <img loading="lazy"
                    [src]="top_destinations?.inWishlist ? 'assets/imgs/favorite-white.svg' : 'assets/imgs/favorite.svg'"
                    alt="">
                </div>
              </div>
              <div class="destination-content">
                <div class="left">
                  <h3>{{destination.name}}</h3>
                  <span class="address">
                    <img loading="lazy" [src]="image.LOCATION_PIN" alt="">
                    {{destination.address}}
                  </span>
                </div>
                <button class="custom-btn small" (click)="onCityChange(destination.address)">Book Now <img
                    loading="lazy" [src]="image.RIGHT_ARROW" alt=""></button>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>

  <div class="blog-section section" *ngIf="isMobileView">
    <div class="container">
      <div class="section-title">
        <span>Top News</span>
        <h2>Latest Blogs</h2>
      </div>
      <div class="row mb-4">
        <div class="col-lg-7" *ngIf="blogs && blogs[0] && blogs[0].id">
          <div class="full-column">
            <div class="blog-img">
              <img loading="lazy" class="img-cover" [src]="blogs[0].banner_photo" alt="">
            </div>
            <div class="blog-content">
              <span class="tag">Coupons and deals</span>
              <h3>{{blogs[0].title}}</h3>
              <div class="d-flex justify-content-between">
                <p class="paragraph">{{blogs[0].meta_description?.substring(0,130)}}{{blogs[0].meta_description?.length
                  > 130 ? '...':''}}</p>
                <div class="right-arrow" (click)="navigateToBlogDetails(blogs[0].slug)">
                  <img loading="lazy" [src]="image.RIGHT_ARROW_RED" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 d-flex flex-column justify-content-between gap-3 mt-lg-0 mt-3">
          <div class="half-column" *ngIf="blogs && blogs[1] && blogs[1].id">
            <div class="blog-img">
              <img loading="lazy" class="img-cover" [src]="blogs[1].banner_photo" alt="">
            </div>
            <div class="blog-content">
              <span class="tag">Coupons and deals</span>
              <h3>{{blogs[1].title}}</h3>
              <div class="d-flex justify-content-between">
                <p class="paragraph">{{blogs[1].meta_description?.substring(0,50)}}{{blogs[1].meta_description?.length >
                  50 ? '...':''}}</p>
                <div class="right-arrow" (click)="navigateToBlogDetails(blogs[1].slug)">
                  <img loading="lazy" [src]="image.RIGHT_ARROW_RED" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="half-column" *ngIf="blogs && blogs[2] && blogs[2].id">
            <div class="blog-img">
              <img loading="lazy" class="img-cover" [src]="blogs[2].banner_photo" alt="">
            </div>
            <div class="blog-content">
              <span class="tag">Coupons and deals</span>
              <h3>{{blogs[2].title}}</h3>
              <div class="d-flex justify-content-between">
                <p class="paragraph">{{blogs[2].meta_description?.substring(0,50)}}{{blogs[2].meta_description?.length >
                  50 ? '...':''}}</p>
                <div class="right-arrow" (click)="navigateToBlogDetails(blogs[2].slug)">
                  <img loading="lazy" [src]="image.RIGHT_ARROW_RED" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-none d-lg-flex">
        <div class="col-lg-5" *ngIf="blogs && blogs[3] && blogs[3].id">
          <div class="half-column">
            <div class="blog-img">
              <img loading="lazy" class="img-cover" [src]="blogs[3].banner_photo" alt="">
            </div>
            <div class="blog-content">
              <span class="tag">Coupons and deals</span>
              <h3>{{blogs[3].title}}</h3>
              <div class="d-flex justify-content-between">
                <p class="paragraph">{{blogs[3].meta_description?.substring(0,50)}}{{blogs[3].meta_description?.length >
                  50 ? '...':''}}</p>
                <div class="right-arrow" (click)="navigateToBlogDetails(blogs[3].slug)">
                  <img loading="lazy" [src]="image.RIGHT_ARROW_RED" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7" *ngIf="blogs && blogs[4] && blogs[4].id">
          <div class="half-column">
            <div class="blog-img">
              <img loading="lazy" class="img-cover" [src]="blogs[4].banner_photo" alt="">
            </div>
            <div class="blog-content">
              <span class="tag">Coupons and deals</span>
              <h3>{{blogs[4].title}}</h3>
              <div class="d-flex justify-content-between">
                <p class="paragraph">{{blogs[4].meta_description?.substring(0,130)}}{{blogs[4].meta_description?.length
                  > 130 ? '...':''}}</p>
                <div class="right-arrow" (click)="navigateToBlogDetails(blogs[4].slug)">
                  <img loading="lazy" [src]="image.RIGHT_ARROW_RED" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-holder">
        <button class="custom-btn small" routerLink="/blog">View More</button>
      </div>
    </div>
  </div>

  <div class="deals-section section" *ngIf="isMobileView">
    <div class="p-relative">
      <div class="container">
        <div class="section-title">
          <h2>Best Deals For You</h2>
        </div>
        <p-carousel [value]="best_deals" styleClass="deals-sub" [numVisible]="2" [numScroll]="1" [circular]="false">
          <ng-template let-deals pTemplate="item">
            <!-- <div class="deal-card" [style.background]="deal.color" *ngFor="let deal of deals?.slide"> -->
            <!-- <div class="deal-content">
                <span>{{deal.subtitle}}</span>
                <h3>{{deal.title}}</h3>
                <button class="custom-btn small" (click)="scrollTop()">Try Now!</button>
              </div> -->
            <!-- <div class="deal-img">
                <img loading="lazy" [src]="deal.img" alt="">
              </div> -->
            <div class="readydeal-img">
              <img loading="lazy" [src]="deals.image" alt="">
            </div>
            <!-- </div> -->
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>

  <div class="hosting-section section" *ngIf="isMobileView">
    <div class="container">
      <div class="inner-hosting">
        <div class="hosting-content">
          <div class="section-title">
            <h2>Try Hosting With Us</h2>
            <p class="paragraph">Explore unique stays hosted by locals. Discover WELRM for memorable accommodations.</p>
          </div>
          <button class="custom-btn" (click)=" gotoNext('hotel-partner')">
            <span>Become a Host</span>
            <img loading="lazy" [src]="image.HAND" alt="">
          </button>
        </div>
        <div class="hosting-img">
          <img loading="lazy" [src]="image.HOST_AVATAR" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="faq-section section" *ngIf="isMobileView">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 d-flex d-lg-block align-items-center flex-column mb-4 mb-lg-0">
          <div class="section-title">
            <span>FAQ’s</span>
            <h2>Get answers to your key questions</h2>
          </div>
          <div class="faq-img">
            <img loading="lazy" class="img-cover" [src]="image.FAQ_BG" alt="FAQ">
          </div>
        </div>
        <div class="col-lg-7">
          <div ngbAccordion [closeOthers]="true">
            <div ngbAccordionItem *ngFor="let faq of accordionItems" [collapsed]="false">
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton>
                  {{ faq.title }}
                  <span class="plus-icon">
                    <img loading="lazy" class="plus" [src]="image.PLUS" alt="">
                    <img loading="lazy" class="minus" [src]="image.MINUS" alt="">
                  </span>
                </button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ng-template>
                    {{faq.content}}
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="faq-viewmore">
          <button class="custom-btn" routerLink="/help-support">View More</button>
        </div>
      </div>
    </div>
  </div>

  <app-testimonial class="testimonial" *ngIf="isMobileView"></app-testimonial>

  <div class="downloadapp-section section" *ngIf="isMobileView">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-sm-6">
          <div class="section-title">
            <h2>Download WELRM App for Exclusive Booking Features!</h2>
            <p class="paragraph">Download the WELRM app to access exclusive features for seamless and memorable hotel
              booking experiences today!</p>
          </div>
          <div class="download-access">
            <div class="barcode">
              <img loading="lazy" class="img-cover" [src]="image.BANNER_QR" alt="">
            </div>
            <div class="store-img">
              <img loading="lazy" [src]="image.APPLE_STORE" alt=""
                (click)="openNew('https://apps.apple.com/ca/app/welrm/id1643890398')">
              <img loading="lazy" [src]="image.GOOGLE_STORE" alt="GOOGLE_STORE"
                (click)="openNew('https://play.google.com/store/apps/details?id=com.welrm')">
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="mockup-img">
            <img loading="lazy" [src]="image.APP_MOCKU" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-lg">
    <div class="hotelnearby-section" *ngIf="isMobileView">
      <div class="section-title">
        <h2>Hunt for Hotels Nearby</h2>
      </div>
      <div class="hotel-tabs">
        <p-tabView>
          <p-tabPanel *ngFor="let tab of footerTabs" [header]="tab.title">
            <div class="tab-body">
              <h5>{{tab.title}}</h5>
              <ul class="nearby-list">
                <ng-container *ngIf="tab.id === 'TopCities'">
                  <li *ngFor="let top_city of top_cities" (click)="onCityChange(top_city.cityName)">Hotels in
                    <b>{{top_city.cityName}}</b>
                  </li>
                </ng-container>
                <ng-container *ngIf="tab.id === 'TopHotels' || tab.id === 'PopularHotels'">
                  <li *ngFor="let top_property of top_Rated_Properties"
                    (click)="booking(top_property.id, top_property.hotelName)">Hotels in
                    <b>{{top_property.hotelName}}</b>
                  </li>
                </ng-container>
                <ng-container *ngIf="tab.id === 'PopularDestinations'">
                  <li *ngFor="let top_dest of top_destinations" (click)="onCityChange(top_dest.address)">Hotels in
                    <b>{{top_dest.address}}</b>
                  </li>
                </ng-container>
              </ul>
            </div>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
<ng-template #becomeHost let-modal>
  <div class="modal-body">
    <button type="button" class="close-x-btn" (click)="modal.dismiss('Cross click')"><i
        class="fa-solid fa-x"></i></button>
    <div class="bd-inner">
      <div class="host-mobile">
        <img loading="lazy" class="img-cover" [src]="image.IPHONE_MOCKUP" alt="">
      </div>
      <div class="host-content">
        <h2>Download</h2>
        <h3>Our App & Log In!</h3>
        <p>Experience the convenience of managing your bookings on the go with WELRM. Download our app now to access
          exclusive features, enjoy seamless login, and stay updated with the latest deals anytime, anywhere.</p>
        <div class="host-dl">
          <div class="barcode">
            <img loading="lazy" class="img-cover" [src]="image.BANNER_QR" alt="">
          </div>
          <div class="host-platform">
            <div class="platform-inner">
              <a href="https://apps.apple.com/ca/app/welrm/id1643890398" target="_blank">
                <img loading="lazy" [src]="image.IPHONE_DL" alt="">
              </a>
            </div>
            <div class="platform-inner">
              <a href="https://play.google.com/store/apps/details?id=com.welrm" target="_blank">
                <img loading="lazy" [src]="image.GOOGLE_DL" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>