<app-header></app-header>
<div class="auth-page login">
  <div class="auth-inner">
    <h1>Login</h1>
    <div class="social-login">
      <button class="scl-btn google-btn" (click)="GoogleAuth()">
        <img [src]="images.GOOGLE_ICON" alt="GOOGLE_ICON">
        <span>Google</span>
      </button>
      <div class="fb-apple-group">
        <button class="scl-btn fb-btn">
          <img [src]="images.FB_ICON" alt="FB_">
          <span>Facebook</span>
        </button>
        <button class="scl-btn apple-btn">
          <img [src]="images.APPLE_ICON" alt="apple">
          <span>Apple</span>
        </button>
      </div>
    </div>
    <span class="divider">-OR-</span>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="input-group">
        <input type="text" [attr.maxlength]="max" placeholder="Email or Phone number" formControlName="username"
          (input)="onInputChange()" />
        <span class="inline-error" *ngIf="
            loginForm.controls.username.hasError('required') &&
            loginForm.controls.username.touched
          ">Email or Phone number is required</span>
      </div>
      <div class="input-group password-group">
        <input [type]="newPass ? 'text' : 'password'" placeholder="Password" formControlName="password" />
        <img class="blind-pass" [src]="newPass
            ? this.images.VISIBILITY_OFF
            : this.images.VISIBILITY" alt="" (click)="newPass = !newPass" />
        <span class="inline-error" *ngIf="
            loginForm.controls.password.hasError('required') &&
            loginForm.controls.password.touched
          ">Password is required</span>
      </div>
      <div class="forgot-password">
        <span (click)="gotoNext('forgotpassword')">Forgot Password</span>
      </div>
      <button class="custom-btn" type="submit"> Sign In </button>
      <div class="have-account">
        Don’t have an account?
        <span (click)="gotoNext('signup')">Sign Up</span>
      </div>
    </form>

  </div>
</div>
<app-footer></app-footer>