<div id="change-password" class="profile-card">
    <div class="profile-hd">
        <h4>Change Password</h4>
    </div>
    <div class="profile-bd">
        <form [formGroup]="passwordChangeForm" (ngSubmit)="submitForm()">
            <div class="form-inner">
                <div class="pass-form">
                    <div class="custom-input">
                        <label class="form-label">Current Password</label>
                        <input [type]="currPass ? 'text':'password'" class="input-field" placeholder="Enter Your Current Password" formControlName="oldPassword">
                        <img class="blind-pass" [src]="currPass ? 'assets/imgs/visibility_off.svg':'assets/imgs/visibility.svg'" alt="" (click)="currPass = !currPass">
                    </div>
                    <div class="custom-input">
                        <label class="form-label">New Password</label>
                        <input [type]="newPass ? 'text':'password'" class="input-field" placeholder="Enter Your New Password" formControlName="newPassword">
                        <img class="blind-pass" [src]="newPass ? 'assets/imgs/visibility_off.svg':'assets/imgs/visibility.svg'" alt="" (click)="newPass = !newPass">
                        <app-password-strength [passwordToCheck]="passwordChangeForm.controls.newPassword.value" (passwordStrength)="passwordValid($event)"></app-password-strength>
                        <span class="inline-error" *ngIf="passwordChangeForm.controls.newPassword.hasError('required') && passwordChangeForm.controls.newPassword.touched">New Password is required</span>
                    </div>
                    <div class="custom-input">
                        <label class="form-label">Confirm Password</label>
                        <input [type]="conPass ? 'text':'password'" class="input-field" placeholder="Enter Your Confirm Password" formControlName="confirmPassword">
                        <img class="blind-pass" [src]="conPass ? 'assets/imgs/visibility_off.svg':'assets/imgs/visibility.svg'" alt="" (click)="conPass = !conPass">
                        <div>
                            <span class="inline-error" *ngIf="passwordChangeForm.controls.confirmPassword.hasError('required') && passwordChangeForm.controls.confirmPassword.touched">Confirm Password is required</span>
                            <span class="inline-error" *ngIf="passwordChangeForm.controls.confirmPassword.touched && passwordChangeForm.controls.confirmPassword.value && (passwordChangeForm.controls.newPassword.value !== passwordChangeForm.controls.confirmPassword.value)">New Password and Confirm Password should be the same.</span>
                        </div>
                    </div>
                </div>
                <div class="validation-msg">
                    <ul *ngIf="passwordChangeForm.controls.newPassword.hasError('pattern')">
                        <li>New Password must contain below conditions.</li>
                        <li><img [src]="checkValidations(passwordChangeForm.controls.newPassword,'length') ? 'assets/imgs/valid.svg': 'assets/imgs/not-validate.svg'" alt="">At least 8 characters long.</li>
                        <li><img [src]="checkValidations(passwordChangeForm.controls.newPassword,'uppercase') ? 'assets/imgs/valid.svg': 'assets/imgs/not-validate.svg'" alt="">Contains uppercase letters.</li>
                        <li><img [src]="checkValidations(passwordChangeForm.controls.newPassword,'lowercase') ? 'assets/imgs/valid.svg': 'assets/imgs/not-validate.svg'" alt="">Contains lowercase letters.</li>
                        <li><img [src]="checkValidations(passwordChangeForm.controls.newPassword,'number') ? 'assets/imgs/valid.svg': 'assets/imgs/not-validate.svg'" alt="">Contains numbers.</li>
                        <li><img [src]="checkValidations(passwordChangeForm.controls.newPassword,'special-character') ? 'assets/imgs/valid.svg': 'assets/imgs/not-validate.svg'" alt="">Contains punctuation.</li>
                    </ul>
                </div>
            </div>
            <div class="action-btns">
                <button class="custom-pr-btn outline">Cancel</button>
                <button class="custom-pr-btn" type="submit">Done</button>
            </div>
        </form>
    </div>
</div>