<app-header></app-header>
<div class="auth-page forgotpassword">
  <div class="auth-inner">
    <h1>Forgot Password</h1>
    <span class="subtitle">Continue with Email</span>
    <form  (ngSubmit)="submit()">
      <div class="input-group">
        <input type="text" placeholder="Email" [formControl]="email">
        <span class="inline-error" *ngIf="email.hasError('required') && email.touched">Email is required</span>
        <span class="inline-error" *ngIf="email.hasError('email') && email.touched">Please enter valid email</span>
      </div>
      <button class="custom-btn" type="submit" >Send</button>
    </form>
    <!-- <div class="have-account">
        Don’t have an account? <span (click)="gotoNext('signup')">Sign Up</span>
      </div> -->
  </div>
</div>
<app-footer></app-footer>