<div class="testimonial-section">
    <div class="" [ngClass]="{ 'p-relative': top_testimonial.length > 2 }">
      <div class="container">
        <div class="section-title">
          <h2>What Our Customers Say</h2>
          <p class="paragraph">Discover why guests love WELRM. Read testimonials for insights on memorable stays.</p>
        </div>
      <div class="elfsight-app-d9dc2f4e-9d51-4d7e-9f97-329aef3cd31e" data-elfsight-app-lazy></div>
         <p-carousel
          [value]="top_testimonial"
          styleClass="testimonial-sub"
          [numVisible]="3"
          [numScroll]="1"
          [circular]="false">
          <ng-template let-testimonial pTemplate="item">
            <div class="testimonial-card">
              <div class="user-info">
                <div class="user-img">
                  <img class="img-cover" [src]="images.TESTIMONIAL_IMAGE01" alt="">
                </div>
                <h4>{{testimonial.reviewer}}</h4>
              </div>
              <p-rating [readonly]="true" class="testimonial-rating" [(ngModel)]="testimonial.rating" [cancel]="false"></p-rating>
              <p class="paragraph">{{testimonial.review}}</p>
            </div>
          </ng-template>
        </p-carousel>  
      </div>
    </div>
</div>