.book-cnf-dtls{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    width: 80%;
    margin: 45px auto 0 auto;
}
.book-cnf-dtls-tbl{
  border: 1px solid #ddd;
  margin-bottom: 5px;
}
.book-cnf-dtls-tbl thead, tbody, tfoot, tr, td, th{
  font-size: 13px;
  font-weight: 400;
}
.book-cnf-dtls-cnt{
  padding: 48px;
}
.book-cnf-dtls-cnt h1{
  font-size: 34px;
    margin-bottom: 15px;
    font-family: auto !important;
    font-weight: 600;
}
.book-cnf-dtls-cnt h3{
  font-size: 16px;
    color: #777;
    margin-bottom: 21px;
}
.goto-bookings{
  font-size: 16px;
    padding: 8px 23px;
    color: white;
    border: none;
    background-color: #dc3545;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    transition: all 0.5s ease-out;
    margin-top: 21px;
}
.book-cnf-dtls-cnt .cnf-mrk{
  display: inline-block;
    font-size: 35px;
    color: #006a4e;
}
.info-bk-dtls{
  color: #777777;
    font-size: 12px;
    font-family: math !important;
    text-align: left;
}









.heading h1{
  margin-top: -20px;

}

.table tr{
  font-weight: bold;
}

.booking-id b{
  color: red;
}
.status h2{
  color: green;
  font-size: 40px;
}

.new-border{
  border-bottom: 2px solid black;
}

.logo img{
  height: 80px;
  border-radius: 15px;
}

.new-call svg{
  align-items: center;
  margin-top: 15px;
}

.upper-left h5,p{
  text-align: end;
}
.other-p{
  text-align: start;

}
@media(max-width:767px){
  .upper-left h5,p{
      text-align: start;
  }
}