.container {
    display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
 
 }
 .buttons{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .buttons .delete{
    background-color: red;
    color: white;
 }