<app-header></app-header>
<div id="refund-policy" class="content-page">
  <div class="container">
    <div class="cs-banner">
      <div class="cs-banner-inner">
        <h1>Refund Policy</h1>
      </div>
    </div>
    <div class="profile-card">
      <div class="profile-bd">
        <p>For a refund, simply contact us through the WELRM Help Center.</p>
        <p>
          WELRM's Return Explanation provides flexibility and advice for planning
          your trip. Your confirmation email will outline the exact cancellation
          deadline to avoid incurring such fees. In the case of cancellation
          requests submitted before this deadline, you can expect a full refund of
          accommodation costs within 10 days of receiving the request. We do not
          charge a processing fee for cancellations.
        </p>
        <p>
          However, there are exceptions to this section such as in case of
          unforeseen circumstances such as cancellation of a booking due to illness
          or injury, WELRM will provide a 100% refund.
        </p>
        <p>
          You will get 100% only if canceled 48 hours before booking but otherwise
          processing free ie 2% will be deducted from the refund amount.
        </p>
        <p>
          Correct evidence is valid for that. This system is limited for one time
          only. Similarly, you have the option to change your date or stay, if the
          new date or room time does not overlap with yours.
        </p>
        <p>
          We have in-hotel payment and prepayment systems to ensure smooth
          transactions for all clients.
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
