#privacy-policy {
    p, ul li {
        font-size: 15px;
        line-height: 22px;
        color: #1E293B;
        font-family: "Mona-Sans Regular";
        margin-bottom: 14px;
        @media only screen and (max-width: 991px) {
            font-size: 14px;
            line-height: 20px;
        }
    }
    .block-item {
        h5 {
            font-size: 16px;
            line-height: 16px;
            color: #1E293B;
            font-weight: normal;
            font-family: 'Mona-Sans SemiBold';
            margin-bottom: 10px;
        }
        ul {
            padding-left: 22px;
            margin-bottom: 20px;
            li {
                margin-bottom: 5px;
                a {
                    color: #C42A25;
                }
            }
        }
    }
}