.MuiBox-root.css-1t6c9ts{
    justify-content: center !important; 
}

.logo{
    width: 70px;
    height: 30px;
    margin-right: 20px;
}
.css-5iifl-MuiPaper-root-MuiAppBar-root{
   background: rgba(198, 181, 180, 1) !important;
    
}