@import url('../login/login.component.scss');

.signup {
    height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    @media only screen and (max-width: 1399px) {
        height: calc(100vh - 100px);
    }
    @media only screen and (max-width: 767px) {
        height: 100%;
    }
    @media only screen and (max-height: 650px) {
        height: 100%;
    }
    .auth-inner {
        width: 100%;
        h1 {
            margin-bottom: 18px;
        }
        .custom-btn {
            margin-top: 24px;
        }
        .have-account {
            text-align: center;
        }
        .input-group {
            position: relative;
            input {
                padding-right: 50px;
                &::-webkit-input-placeholder {
                    opacity: 0.8;
                    font-size: 14px;
                }
            }
            .blind-pass {
                position: absolute;
                right: 14px;
                top: 6px;
                z-index: 2;
                cursor: pointer;
            }
        }
        .validation-msg {
            ul {
                padding: 0;
                margin: 20px 0 0 0;
                list-style: none;        
                li {
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0.04em;
                    margin-bottom: 8px;
                    display: flex;
                    align-items: center;
                    img {
                        width: 16px;
                        margin-right: 8px;
                    }
                }
            }
        }
    }
    ::ng-deep app-password-strength {
        width: 100%;
    }
}